label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 400px;
  line-height: 26px;
  margin-bottom: 0px;
}

input {
  height: 30px;
  flex: 0 0 0px;
  margin-left: 0px;
  margin-bottom: 10px;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.child {
  display: inline-block;
  vertical-align: middle;
}

